<div class="row">
	<div class="span12">
		<div class="well center well-op70">
			<h2>Find out who's down to bang with you at UChicago.</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="span4 center">
		<span class="circle-number well-op85">1</span>
		<div class="well well-op85">
			<p class="lead">Sign up for a Bang at Chicago account and get verified via your UChicago email!</p>
		</div>
	</div>
	<div class="span4 center">
		<span class="circle-number well-op85">2</span>
		<div class="well well-op85">
			<p class="lead">Choose who you want to bang at UChicago - search by name or CNetID.</p>
		</div>
	</div>
	<div class="span4 center">
		<span class="circle-number well-op85">3</span>
		<div class="well well-op85">
			<p class="lead">We'll let you know if and only if you're both interested in each other. Then...it's time to bang!</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="offset2 span8">
		<a class="btn btn-primary btn-large btn-block" href="#/down/to/bang">Down to Bang? Click here to register!</a>
		<a class="btn btn-success btn-large btn-block" href="#/start/banging">Already banging? Click here to login!</a>
		<p class="well center">Forgot how to bang? <a href="#/forgot/how/to/bang">Reset your password!</a></p>
	</div>
</div>
