<div class="row">
	<div class="offset2 span8">
		<div class="well">
			<h1>Privacy Policy</h1>

			<p>Bang at UChicago takes user privacy seriously. We use publicly accessible directory servers for the sole purpose of obtaining 
			user information during registration and search.</p>
			Information retrieved includes, but may not be limited to CNetID, first name, and last name. Bang at UChicago does not make use of any data
			that requires special access privileges, nor does it try to access privileged information.</p>

			<p>Unsolicited emails will not be sent to individuals if they have not first registered a Bang at UChicago account.</p>

			<p>
			Bang at UChicago will never disclose user information to third parties. However, if legally obligated to do so, we may disclose user nformation to 
			law enforcement and/or other official agencies. 
			</p>

		</div>
	</div>
</div>
