<div class="row">
	<div class="offset2 span8">
		<div class="well">
			<h1>Reset your password!</h1>
			<p>Fill out this handy form and you'll be banging again in no time.</p>
			<p ng-show="success" class="text-success">Password reset successfully! Head over to the <a href="#/start/banging">login page</a> so you can start banging again!</p>
			<form class="form-horizontal" name="form" ng-show="!success" novalidate>
				<div class="control-group">
					<label class="control-label" for="inputPassword1">Choose a new password</label>
					<div class="controls">
						<input type="password" id="inputPassword1" name="password" ng-model="data.password" ng-change="resetError('password', 'invalid')" required>
						<span ng-show="form.password.$dirty && form.password.$invalid" class="text-error"><br>{{ errors.password[0] }}</span>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="inputPassword2">Confirm password</label>
					<div class="controls">
						<input type="password" id="inputPassword2" data-validate-with="{{data.password}}" ng-model="data.passwordConfirm" required validate-password>
					</div>
				</div>

				<button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid">Let's bang!</button>
			</form>
		</div>
	</div>
</div>
