<div class="row">
	<div class="offset2 span8">
		<div class="well">
			<h1>I forgot how to bang!</h1>
			<p>Don't worry, we'll get your password reset so you can resume banging.</p>
			<p ng-show="success" class="text-success">Password reset request received. Check your email for further instructions.</p>
			<p class="text-error" ng-show="form.username.$error.invalid"><br>{{ errors.username[0] }}</span>
			<form class="form-horizontal" name="form" ng-show="!success" novalidate>
				<div class="control-group">
					<label class="control-label" for="inputCnetid">Username (CNetID)</label>
					<div class="controls">
						<input type="text" id="inputCnetid" name="username" ng-model="username" ng-change="resetError()" required>
					</div>
				</div>

				<button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid">Bang me!</button>
			</form>
		</div>
	</div>
</div>
